<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" type="text/css" href="style.css" />
 <title>Course Directory</title>
 <link rel="stylesheet" href="\font-awesome-4.7.0\css\font-awesome.min.css">
 <link
 rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap" rel="stylesheet">
<head>
<body>
    <%- include('signedinnav'); -%>
    <br>
    <br>
    <br>
    <br>

    <div class="row">
      <div class="col-4" style="text-align:center;">
        <a href="/home">
          <button type="button" class="signupbutton " style="width:200px; margin-top:10px;">Dashboard</button>
      </a>
      </div>
      <div class="col-4">
        <div class="dirtitle">
          <h1 style=" font-size: 50px; font-family: 'Quicksand', sans-serif; ">Course Directory</h1>
      </div>
      </div>
      <div class="col-4" style="text-align:center;">
        <a href="/finalschedule" >
          <button type="button" class="signupbutton " style="width:200px; margin-top:10px;">4-Year Schedule</button>
      </a>
      </div>
    </div>

    
    <div style="text-align: center;">
        <a href="#ladirectory" style="color: #ac8c54;">ELA  &nbsp </a>
        <a href="#mathdirectory" style="color: #ac8c54;">Math  &nbsp </a>
        <a href="#sciencedirectory" style="color: #ac8c54;">Science &nbsp  </a>
        <a href="#historydirectory" style="color: #ac8c54;">Social Studies  &nbsp </a>
        <a href="#languagedirectory" style="color: #ac8c54;">World Language &nbsp  </a>
        <a href="#electivedirectory" style="color: #ac8c54;">Elective/Misc &nbsp</a>
        <a href="#specialdirectory" style="color: #ac8c54;">Special Courses</a>

    </div>
    <hr>
    <br>
    <section class="ELAcoursedir" id="ladirectory">
        <h1 style="text-align: center; font-family: 'Quicksand', sans-serif;">Language Arts</h1>
        <div class="card-columns">
            <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Language Arts I</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
              
              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Langugage Arts II Honors</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Language Arts IV</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Language Arts I Honors</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Language Arts III</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Language Arts IV Honors</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Language Arts II</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Language Arts III Honors</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">AP Language and Composition</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

            
            </div> 
            <div class="card-columns">
                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">AP Literature and Composition</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div> 
            </div>
    </section>
    <hr>
    <br>
    <section class="mathcoursedir" id="mathdirectory">
        <h1 style="text-align: center; font-family: 'Quicksand', sans-serif;">Math</h1>
    <div class="card-columns">
        <div class="card card-left">
            <div class="card-body" >
              <h4 class="card-title">Algebra I</h4>
              <p class="card-text">Some example text. Some example text.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        <div class="card card-left">
        <div class="card-body" >
          <h4 class="card-title">Geometry Honors & Accelerated</h4>
          <p class="card-text">Some example text. Some example text.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card card-left">
        <div class="card-body" >
          <h4 class="card-title">Advanced Algebra II Honors </h4>
          <p class="card-text">Some example text. Some example text.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card card-left">
        <div class="card-body" >
          <h4 class="card-title">Pre-Calculus Honors</h4>
          <p class="card-text">Some example text. Some example text.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card card-left">
        <div class="card-body" >
          <h4 class="card-title">AP Calculus AB</h4>
          <p class="card-text">Some example text. Some example text.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card card-left">
        <div class="card-body" >
          <h4 class="card-title">Statistics</h4>
          <p class="card-text">Some example text. Some example text.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card card-left">
        <div class="card-body" >
          <h4 class="card-title">Geometry</h4>
          <p class="card-text">Some example text. Some example text.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card card-left">
        <div class="card-body" >
          <h4 class="card-title">Algebra II</h4>
          <p class="card-text">Some example text. Some example text.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card card-left">
        <div class="card-body" >
          <h4 class="card-title">Algebra and Trigonometry</h4>
          <p class="card-text">Some example text. Some example text.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card card-left">
        <div class="card-body" >
          <h4 class="card-title">Pre-Calculus Honors & Accelerated</h4>
          <p class="card-text">Some example text. Some example text.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card card-left">
        <div class="card-body" >
          <h4 class="card-title">AP Calculus BC</h4>
          <p class="card-text">Some example text. Some example text.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card card-left">
        <div class="card-body" >
          <h4 class="card-title">AP Statistics</h4>
          <p class="card-text">Some example text. Some example text.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card card-left">
        <div class="card-body" >
          <h4 class="card-title">Geometry Honors</h4>
          <p class="card-text">Some example text. Some example text.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card card-left">
        <div class="card-body" >
          <h4 class="card-title">Advanced Algebra II</h4>
          <p class="card-text">Some example text. Some example text.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card card-left">
        <div class="card-body" >
          <h4 class="card-title">Pre-Calculus</h4>
          <p class="card-text">Some example text. Some example text.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card card-left">
        <div class="card-body" >
          <h4 class="card-title">Calculus Honors</h4>
          <p class="card-text">Some example text. Some example text.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card card-left">
        <div class="card-body" >
          <h4 class="card-title">Multivariable Calculus Honors</h4>
          <p class="card-text">Some example text. Some example text.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      </div>
    </section>
    <hr>
    <br>
    <section class="sciencecoursedir" id="sciencedirectory">
        <h1 style="text-align: center; font-family: 'Quicksand', sans-serif;">Science</h1>
        <div class="card-columns">
            <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Biology</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Chemistry</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Physics</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Environmental Science</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Human Anatomy & Physiology</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Biology Honors</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Chemistry Honors</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Physics Honors</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">AP Environmental Science</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Descriptive Astronomy</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">AP Biology</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">AP Chemistry</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Advanced Topics in Physics Honors</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Forensic Sciences</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Genetics</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div> 
        </div>
    </section>
    <hr>
    <br>
    <section class="historycoursedir" id="historydirectory">
        <h1 style="text-align: center; font-family: 'Quicksand', sans-serif;">Social Studies</h1>
        <div class="card-columns">
            <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">World History</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">American Studies I Honors</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">AP US History</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">International Business and Cultures</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Economics/Social Problems in American Society</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">AP Psychology</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">World History Honors</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">American Studies II</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">AP European History</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Legal and Political Experiences</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Multicultural Studies</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Human Behavior</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">American Studies I</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">American Studies II Honors</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">AP American Government</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">AP Comparative Government and Global Studies</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">AP Microeconomics</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
    </section>
    <hr>
    <br>
    <section class="languagecoursedir" id="languagedirectory">
        <h1 style="text-align: center; font-family: 'Quicksand', sans-serif;">World Language</h1>
        <div style="text-align: center;">
            <a href="#spanishdirectory">Spanish  &nbsp </a>
            <a href="#frenchdirectory">French  &nbsp </a>
            <a href="#germandirectory">German &nbsp  </a>
            <a href="#chinesedirectory">Chinese  &nbsp </a>
    
        </div>
        <br>
        <div class="spanish-section" id="spanishdirectory">

            <h3 style="text-align: center; font-family: 'Quicksand', sans-serif;">Spanish</h3>
            <div class="card-columns">
                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">An Intro to Spanish Communication & Culture</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
    
                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Spanish 2</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
    
                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Spanish 4</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
    
                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Conversations in Spanish</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
    
                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Spanish Language & Cultural Study</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
    
                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Spanish 3</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
    
                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Spanish 4 Honors</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
    
                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Honors Spanish Cultural Studies</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
    
                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Spanish 1</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
    
                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Spanish 3 Honors</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
    
                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Spanish 5</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
    
                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">AP Spanish Language</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
                  </div>
                  <div class="card-columns">
                    <div class="card card-left">
                        <div class="card-body" >
                          <h4 class="card-title">AP Spanish Literature</h4>
                          <p class="card-text">Some example text. Some example text.</p>
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>
                      </div>
                </div>
            </div>
            
        </div>
        <br>
        <div class="french-section" id="frenchdirectory">
            <h3 style="text-align: center; font-family: 'Quicksand', sans-serif;">French</h3>
            <div class="card-columns">
                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">French 1</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                </div>

                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">French 3 Honors</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">French 5</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">French 2</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">French 4</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">AP French Language</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">French 3</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">French 4 Honors</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

        </div>
        </div>
        <br>
        <div class="german-section" id="germandirectory">
            <h3 style="text-align: center; font-family: 'Quicksand', sans-serif;">German</h3>
            <div class="card-columns">
                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">German 1</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                </div>

                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">German 4</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                </div>

                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">German 2</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                </div>

                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">German 5 Honors</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                </div>

                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">German 3</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                </div>

                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">AP German Language</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="chinese-section" id="chinesedirectory">
            <h3 style="text-align: center; font-family: 'Quicksand', sans-serif;">Chinese</h3>
            <div class="card-columns">
                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Chinese 1</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                </div>

                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Chinese 4</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                </div>

                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Chinese 2</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                </div>

                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Chinese 5 Honors</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                </div>

                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Chinese 3</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                </div>

                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">AP Chinese Language</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <br>
    <section class="misccoursedir" id="electivedirectory">
        <h1 style="text-align: center; font-family: 'Quicksand', sans-serif;">Elective/Miscellaneous</h1>
        <div style="text-align: center;">
            <a href="#artdirectory">Art  &nbsp </a>
            <a href="#csdirectory">Business & Computer Science  &nbsp </a>
            <a href="#engineeringdirectory">Engineering &nbsp  </a>
            <a href="#consumerdirectory">Consumer Science  &nbsp </a>
            <a href="#musicdirectory">Music &nbsp  </a>
            <a href="#mediadirectory">Media &nbsp</a>
            <a href="#miscdirectory">Miscellaneous</a>
            <a href="#specialdirectory">Special Courses</a>
    
        </div>
        <br>
        <div class="artsection" id = "artdirectory">
            <h3 style="text-align: center; font-family: 'Quicksand', sans-serif;">Art</h3>
            <div class="card-columns">
                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Art Foundation</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Sculpture & Ceramics</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Computer Art & Design II</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Drawing & Painting I</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Printmaking</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Photography</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Drawing & Painting II</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Computer Art & Design I </h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">AP Studio Art</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

            </div>
            <div class="card-columns">
                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">AP Art History</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="cssection" id="csdirectory">
            <h3 style="text-align: center; font-family: 'Quicksand', sans-serif;">Business/Computer Science</h3>
            <div class="card-columns">
                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Accounting</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Financial Literacy</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">AP Computer Science A</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Marketing</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Digital Media</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">AP Computer Science Principles</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Digital Communication</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Introduction to Computer Programming</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Advanced Topics in Computer Science Honors</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>


            </div>

        </div>
        <br>
        <div class="engineeringsection" id="engineeringdirectory">
            <h3 style="text-align: center; font-family: 'Quicksand', sans-serif;">Engineering</h3>
            <div class="card-columns">
                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Principles of Engineering</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Graphic Engineering</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Engineering Design and Fabrication</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
                  
            </div>
            <div class="card-columns">
                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Robotics Engineering</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
            </div>
        </div>
        <br>
        <div class="consumersciencesection" id="consumerdirectory">
            <h3 style="text-align: center; font-family: 'Quicksand', sans-serif;">Consumer Science</h3>
            <div class="card-columns">
                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Creative Design</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">International Foods</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Advanced Creative Design</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Creative Cooking and Catering</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Culinary Arts</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Child Growth and Development</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
            </div>
            <div class="card-columns">
                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Youth Teaching Youth</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
            </div>
        </div>
        <br>
        <div class="musicsection" id="musicdirectory">
            <h3 style="text-align: center; font-family: 'Quicksand', sans-serif;">Music</h3>
            <div class="card-columns">
                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Music Theory I</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>   

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Chorale</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>   

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Concert Band</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>   

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">String Ensemble</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>   

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Music Theory II</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>   

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Concert Choir</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>   

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Symphonic Band</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>   

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Symphony Orchestra</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>   

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Music Technology</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>   

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Chamber Choir</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>   

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Wind Ensemble</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>   

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Philharmonic Orchestra</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>   
            </div>
        </div>
        <div class="mediasection" id="mediadirectory">
            <h3 style="text-align: center; font-family: 'Quicksand', sans-serif;">Media</h3>
            <div class="card-columns">
                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Broadcast Writing</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>  

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Journalism</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>  

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Advanced Broadcast Writing </h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>  

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Advanced Journalism Honors</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>  

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">TV Production</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>  
            </div>
        </div>
        <div class="miscsection" id="miscdirectory">
            <h3 style="text-align: center; font-family: 'Quicksand', sans-serif;">Miscellaneous</h3>
            <div class="card-columns">
                <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Fundamentals of Sports Medicine</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>  

                  <div class="card card-left">
                    <div class="card-body" >
                      <h4 class="card-title">Theatre Arts</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>  
            </div>
        </div>
    </section>
    <section class='specialcoursedir' id = specialdirectory>
        <h1 style="text-align: center; font-family: 'Quicksand', sans-serif;">Special Courses</h1>
        <div class="card-columns">
            <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Princeton University Courses</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Senior Practicum & Internship</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
              <div class="card card-left">
                <div class="card-body" >
                  <h4 class="card-title">Student Research</h4>
                  <p class="card-text">Some example text. Some example text.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
    </section>
    <br>
    <br>

    <%- include('signedinfooter'); -%>
</body>