<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" type="text/css" href="style.css" />
 <title>Untitled</title>
 <link rel="stylesheet" href="\font-awesome-4.7.0\css\font-awesome.min.css">
 <link
 rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap" rel="stylesheet">
<script>
    $(function () {
  $(document).scroll(function () {
    var $nav = $(".navbar-fixed-top");
    $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
  });
});
</script>
<head>
<body>
    <%- include('nav'); -%>

     <!-- Home Page -->
<section class= home >
    <div class="header">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

            <h1 class="title">CourseAlert</h1>
    </div>
</section>
<!-- About Page -->
<section class= about>
    <div class="container-fluid-sm about-container">
        
            <br>
            <br>
            <br>
            <div class="about-title" id = "about-title"><p>Take control of high school.</p></div>
            <br>
            <br>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 about-paragraph"><p>High school is a confusing place - clubs, classes, sports, and a new school are thrown at you all at once! Scheduling courses
                    amidst the commotion can be daunting, especially without a plan. Our goal is to help students take control of their high school roadmap,
                    guiding you along the course-selection pathway towards a bright future. 
                </p>
            </div>
                <div class="col-2"></div>
            </div>
            <br>
            <br>
            <a href="/signup">
                <button type="button" class="btn btn-success learnmorebtn btn-lg">
                    <p class = "getstartedbutton">Get Started!</p>  
                </button>
            </a>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            
            
        
    </div>
    
</section>
</body>
</html>
