<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Untitled</title>
    <link rel="stylesheet" href="\font-awesome-4.7.0\css\font-awesome.min.css">
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
   />
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap" rel="stylesheet">
   <meta name="google-signin-scope" content="profile email">
   <meta name="google-signin-client_id" content="854171680221-mjhdnc59sdf4bdqu6e5ceg1aub57u114.apps.googleusercontent.com">
   <script src="https://apis.google.com/js/platform.js" async defer></script>
   <script src="script.js"></script>
   <style>.g-signin2{margin-left: 785px;margin-top:200px;}
   .data{
       display:none;
   }
       </style>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">

</head>
<body>
    <div class=home>
        <%- include('nav'); -%>
        <br>
        <br>
        <br>
        <br>
        
        <form action="/login" method = POST class = signinform>
            <%- include('./partials/messages') -%>
            <h1 class = logintext style="color: #ac8c54">Login</h1>
            <label for="signin-username">Email</label>
            <input type="text" name = "email" id = "email">
            <label for="signin-password">Password</label>
            <input type="password" name="password" id="password">
            <br>
            <input type="submit" value="Sign In" class="signupbutton" style="font-family: 'Quicksand', sans-serif;"> 
            <br>
            <br>
            <button type="button" class=" forgotpwordbtn ">Forgot Password?</button>
            <br>
            <br>

         </form>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

    </div>
    <%- include('footer'); -%>
</body>