<section class= "navigationbar">
    <!-- Nav Bar -->
    <nav class = "navbar navbar-expand-sm bg-dark navbar-dark sticky-top"  >
       <ul class="navbar-nav mr-auto">
           <li class="navbar-item active"><a href="/login" class="nav-link">Login</a></li>
           <li class="navbar-item active"><a href="/signup" class="nav-link">Sign-Up</a></li>
       </ul>
       <a href="/" class="navbar-brand mx-auto" >Logo</a>
    
       <ul class="navbar-nav topbar-right ml-auto">
           <li class="navbar-item active "><a class = "nav-link" href="/">About</a></li>
           <li class="navbar-item active "><a class = "nav-link" href="/">Contact</a></li>
       </ul>
    </nav>
   

   </section>