<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" type="text/css" href="style.css" />
 <title>Untitled</title>
 <link rel="stylesheet" href="\font-awesome-4.7.0\css\font-awesome.min.css">
 <link
 rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
<head>
<body>
    <%- include('signedinnav'); -%>
    <br>
    <br>
    <h1 style="text-align: center; font-family: 'Questrial', sans-serif; font-weight: bold;">What is Option II?</h1>
    <p style="text-align:center; font-family: 'Quicksand', sans-serif; width: 70%;  margin: 2rem auto; padding: 2rem; font-size: 20px;">Option II is a way to get past those pesky course prerequisites or graduation requirements that you might want to get over with during the summer, instead of wasting a course slot
        during the school year. However, Option II courses don't count toward your GPA, and are only recommended if you have a clear plan and reasoning for skipping a course. For example, 
        if you wanted to take two science courses in one year, you could option II and skip a history course over the summer, so that you wouldn't have to take that history course during
        the school year! To skip a course, you must take a class from a WW-P approved institution, and pass a test at the end of the summer to prove your proficiency (70% & above). 
    </p>
    <div style="text-align:center;">
        <a href="https://drive.google.com/file/d/15YYzhd2n7DeB-jkg3uIkAvsefLCszaCR/view?usp=sharing" target="_blank">
            <button type="button" class="btn btn-success btn-md" style="margin-top: 45px; margin:2rem auto; padding:20px;">List of Option II Course Providers</button>
        </a>
    </div>

</body>